@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;

.root {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--paper);

  nav {
    @include mixins.container;
    display: flex;
  }

  ul {
    list-style: none;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
  }
  li {
    margin-right: vars.$spacing * 4;
  }
}
