@use 'styles/_variables' as vars;
@use 'styles/_mixins' as mixins;

.root {
  @include mixins.flex-row;
  height: 100%;
  justify-content: space-between;
}

.editorSection {
  min-width: 66%;
  height: 100%;
  display: flex;
  width: 100%;
}
.notesSection {
  @include mixins.flex-col;
  padding: vars.$spacing * 4;
  min-width: 33%;
}
.w-md-editor w-md-editor-show-live {
  width: 100%;
}
.note {
  @include mixins.card;
  @include mixins.flex-col;
  position: relative;
  margin: vars.$spacing * 1;
  padding: vars.$spacing * 4;
  width: 100%;
  min-height: vars.$spacing * 20;
  overflow: auto;
  p {
    margin: vars.$spacing * 2;
  }
}

.iconButton {
  @include mixins.icon-button;
}
.noteButtonRow {
  @include mixins.flex-row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  padding: vars.$spacing * 1;
}
